---
---

@import "{{ site.theme }}";

#body {
#  background-color: #F6F5F5;
#}

body {
  margin: 0;
  background: linear-gradient(to right, red 50%, blue 0%);
  
  height:100vh;
  text-align:center;
  color:#fff;
}

a {
  color:#276678;
  text-decoration:none;
}

div.wrapper > section.custom_section > div.tabs > div.tabContent {
  background-color:#F6F5F5;
  #color:#F6F5F5;
}
